
@{
	ViewBag.Title = "MainView";
	Ekipa.Models.ViewModel.MainViewVM mainViewVM = new Ekipa.Models.ViewModel.MainViewVM();
	@Html.Partial("~/Views/Partial/_MainView.cshtml", mainViewVM)
}

<h2>MainView</h2>

