@model Ekipa.Models.ViewModel.MainViewVM
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<a class="navbar-brand mr-sm-auto" href="@Url.Action("ZnajdźEkipę", "Home/index",FormMethod.Get)">
		<img class="img-responsive" src='@Url.Content("~/Content/images/ikon.png")' />
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<form class="form-inline my-2 my-lg-0 col">
			<div class="search-box">@Html.EditorFor(m => m.NameSearch, "", new { htmlAttributes = new { @class = "form-control mr-sm-2", placeholder = "Szukaj" } })</div>
			<div class="choose-box">@Html.DropDownListFor(x => x.PlaceSearch, Model.CitiesDB, htmlAttributes: new { @class = "form-control mr-sm-2" })</div>
			<button class="search-button btn my-2 my-sm-0" type="submit">Szukaj</button>
		</form>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Zaloguj/@Html.DisplayFor(model => model.UserName)
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Moje konto</a>
					<a class="dropdown-item" href="#">Moje terminy</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Wyloguj</a>
				</div>
			</li>
		</ul>
	</div>
</nav>

<style>
	.search-box {
		width: 50%;
	}
		.search-box input {
			width: 98% !important;
			max-width: 98% !important;
		}

	.choose-box {
		width: 20%;
	}
		.choose-box select {
			width: 92% !important;
			max-width: 92% !important;
		}

	.search-button {
		color: #76af24;
		background: transparent;
		border: 1px solid #76af24;
		text-transform: uppercase;
	}
	.search-button:hover {
		background: #76af24;
		color: #fff;
	}
</style>