@model Ekipa.Models.ViewModel.OpinionVM
	
<div>
	<h2>@Html.DisplayFor(model => model.CustomerName)</h2>

	<h2>@Html.DisplayFor(model => model.Description)</h2>



	@Html.DisplayFor(model => model.GradeValue)
</div>
<hr />