@{
	int counter = 0;
}

<div class="row">

	@foreach (var item in Model)


	{
		if (counter != 0 && counter % 3 == 0)
		{
			@:</div>
		<hr />

		@:<div class="row">
		}
		<div class="col-md-4">
			<img class="img-responsive" src="@Url.Content(item.Link)"/>
		</div>
		counter++;

	}
</div>