@model List<Ekipa.Models.ViewModel.Company.CompanyTermVM>

@{
	int counter = 0;
}
<div class="row">

	@for (int i = 0; i < Model.Count(); i++)
	{
		if (counter != 0 && counter % 4 == 0)
		{
				@:</div>
				@:<div class="row">
		}
		<div class="col-md-3">
			<div class="box color-green term-box text-center">
				@Html.DisplayFor(model => model[i].Start) -
				@Html.DisplayFor(model => model[i].Stop)
		   <a  class="white" href='@Url.Action("CustomerReservation", "Reservation", new RouteValueDictionary(  new { id = Model[i].ID }))'> Zarezerwuj</a>

			</div>
		</div>
		counter++;
	}
</div>
