@model Ekipa.Models.ViewModel.Company.CompanyTermsVM

@for (int i = 0; i < Model.CompanyTermsList.Count(); i++)
{
	<div class="term-box">
		@Html.DisplayFor(model => model.CompanyTermsList[i].DateFrom)
		@Html.DisplayFor(model => model.CompanyTermsList[i].DateTo)
		@Html.ActionLink("Zarezerwuj", "CustomerReservation", "Reservation", new { id = Model.CompanyTermsList[i].ID })
	</div>
	if (null != TempData["alertMessage"])
	{
		<script type="text/javascript">
       alert("@TempData["alertMessage"]");
		</script>
	}
}