@model List<Ekipa.Models.ViewModel.Company.CompanyTermVM>

@{
	int counter = 0;
}
<div class="row">

	@for (int i = 0; i < Model.Count(); i++)
	{
		if (counter != 0 && counter % 3 == 0)
		{
				@:</div>
				<hr />
				@:<div class="row">
		}
		<div class="col-md-3">
			<div class="box color-green term-box text-center">
				@Html.DisplayFor(model => model[i].DateStart.Day).@Html.DisplayFor(model => model[i].DateStart.Month).@Html.DisplayFor(model => model[i].DateStart.Year) -
				@Html.DisplayFor(model => model[i].DateStop.Day).@Html.DisplayFor(model => model[i].DateStop.Month).@Html.DisplayFor(model => model[i].DateStop.Year)
				<a  class="white" href='@Url.Action("CustomerReservation", "PublicCompany", new RouteValueDictionary(  new { id = Model[i].ID }))'> Zarezerwuj</a>

			</div>
		</div>
		counter++;
	}
</div>
