
@{
    ViewBag.Title = "IndexCustomer";
}


    <div>
        Siemanko @ViewBag.UserName
    </div>
   
    <div>
        @Html.ActionLink("Edytuj dane", "EditCustomer")

    </div>
    <div>
        @Html.ActionLink("Wyloguj", "Logout")
    </div>