body {
	font-family: Irregularis;
}

img {
    max-width: 100%;
    height: auto;
}
.search-box {
	width: 35%;
	margin-left:5%;
}

	.search-box input {
		width: 96% !important;
		max-width: 96% !important;
	}

.choose-box {
	width: 20%;
}

	.choose-box select {
		width: 92% !important;
		max-width: 92% !important;
	}
.description-box {
	width: 100%;
	margin-top: 3%;}

.description-box select {
	width:100% !important;
	max-width: 100% !important;
}

.description-box input {
	max-width: inherit;
}

.search-button {
	color: #76af24;
	background: transparent;
	border: 1px solid #76af24;
	text-transform: uppercase;
}

	.search-button:hover {
		background: #76af24;
		color: #fff;
	}
.home-action-button {
	background: gray;
	cursor: pointer;
	cursor: pointer;
	padding: 10px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	left: 20px;
	right: 20px;
	border-radius: 6px;
}
.term-box {
	width: 80%;
	font-size: 25px;
	margin: 10%;
	border-radius: 6px;
	color: #fff;
}
.color-green {
	background-color: #76af24;
}

.color-yellow {
	background-color: #f19f17;
}

.color-red {
	background-color: #ae281c;
}

.color-light-green {
	background-color: #C0D727;
}

.padding-column {
	padding: 0 20px;
}

.font-irregularis {
	font-family: Irregularis;
}
.ikon {
	width: 30px;
	height: 30px;
}
.ikonDelete {
	width: 25px;
	height: 25px;
	float:right;
	margin-left:10px;
}
.ikonDeleteImage {
	width: 30px;
	height: 30px;
	float: right;
	margin-left: 80%;
	margin-bottom:3%;
	position: absolute;
	bottom: 0;
}

.tag-box {
	cursor: pointer;
	cursor: pointer;
	padding: 10px 10px;
	margin-left: 1.2%;
	margin-top:10px;
	color: black;
	text-transform: uppercase;
	font-size: 18px;
	bottom: 1%;
	border-radius: 6px;

}
.tag_min-box {
	margin-left: 1.2%;
	color: black;
	text-transform: uppercase;
	font-size: 18px;
	bottom: 1%;
	border-radius: 8px;
	width:50%;
	margin-bottom: 5%;
}
.white {
	color: white !important;
}
.green {
	color: #76af24 !important;
}

.yellow {
	color: #f19f17 !important;
}

.red {
	color: #ae281c !important;
}
.text-box-w {
	width: 100%;
	height:100px !important; 
}

	.text-box-w input {
		width: 96% !important;
		max-width: 96% !important;
		height: 100px !important;
		overflow:auto !important;
		
	}

.descript {
	outline: none;
	font-family: Georgia;
	font-size: 20px;
	line-height: 150%;
}
.checked {
	color: gold;
}