@font-face {
	font-family: FontRegural;
	src: url(/Fonts/Irregularis.ttf);
}

body {
	font-family: Irregularis;
}

img {
    max-width: 100%;
    height: auto;
}
.search-box {
	width: 35%;
	margin-left:5%;
}

	.search-box input {
		width: 96% !important;
		max-width: 96% !important;
	}

.choose-box {
	width: 20%;
}

	.choose-box select {
		width: 92% !important;
		max-width: 92% !important;
	}
.description-box {
	width: 100%;
	margin-left: 10%;
	margin-top: 3%;
}

	.description-box select {
		width:100% !important;
		max-width: 100% !important;
	}

.search-button {
	color: #76af24;
	background: transparent;
	border: 1px solid #76af24;
	text-transform: uppercase;
}

	.search-button:hover {
		background: #76af24;
		color: #fff;
	}
.home-action-button {
	background: gray;
	cursor: pointer;
	cursor: pointer;
	padding: 10px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	border-radius: 6px;
}
.term-box {
	width: 70%;
	font-size: 25px;
	margin: 20%;
	border-radius: 6px;
	color: #fff;
}

.color-green {
	background-color: #76af24;
}

.color-yellow {
	background-color: #f19f17;
}

.color-red {
	background-color: #ae281c;
}

.color-light-green {
	background-color: #C0D727;
}

.padding-column {
	padding: 0 20px;
}

.font-irregularis {
	font-family: Irregularis;
}
.ikon {
	width: 30px;
	height: 30px;
}

.tag-box {
	cursor: pointer;
	cursor: pointer;
	padding: 10px 45px;
	margin-left: 1.2%;
	color: black;
	text-transform: uppercase;
	font-size: 18px;
	bottom: 1%;
	border-radius: 6px;
}
.tag_min-box {
	margin-left: 1.2%;
	color: black;
	text-transform: uppercase;
	font-size: 18px;
	bottom: 1%;
	border-radius: 8px;
	width:50%;
	margin-bottom: 5%;
}