@model Ekipa.Models.ViewModel.Company.CompanyImagesVM
@{
	ViewBag.Title = "CompanyImagesList";
	Ekipa.Models.ViewModel.ImageCreateVM createImage = new Ekipa.Models.ViewModel.ImageCreateVM();
}
<h2>Zarządzaj zdjęciami na profilu swojej firmy</h2>
<hr />

@Html.Partial("~/Views/Image/_ImageAdd.cshtml", createImage)
@Html.Partial("~/Views/Image/_ImageEdit.cshtml", Model)